@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marcellus&display=swap');

html,
body {
    overflow-x: hidden;
}

:root {
    --primary-color: #27252A;
    --secondary-color: #DE968D;
    --tertiary-color: #FFFFFF;
    --fourth-color: #949197;
}

.navbar-container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.sub-hdr {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.title1 {
    font-family: "Marcellus", serif;
    font-size: 70px;
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

.title2 {
    font-family: "Marcellus", serif;
    font-size: 48px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.title3 {
    font-family: "Marcellus", serif;
    font-size: 30px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.sub-title {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
}

.primary-btn {
    background: var(--secondary-color);
    padding: 16px 50px 16px 32px;
    color: var(--tertiary-color);
    position: relative;
}

.primary-btn .arrow {
    position: absolute;
    top: 13px;
    right: 18px;
    transition: transform 0.3s ease;
}

.primary-btn:hover .arrow {
    transform: rotate(45deg)
}

/* Header Starts */

.top-navbar {
    background: var(--primary-color);
    padding: 10px 0;
}

.top-bar-cnt {
    justify-content: flex-end;
    gap: 50px;
}

.t-b-no,
.t-b-email,
.t-b-address {
    display: flex;
    /* margin-left: 50px; */
}

.no,
.email,
.address {
    color: var(--tertiary-color);
    font-family: "Manrope", sans-serif;
    margin-left: 10px;
}

.bottom-navbar {
    background: rgba(255, 255, 255, 0.1);
}

.nav-item {
    margin-left: 40px;
}

.navbar-nav .nav-link.active,
.nav-link:hover {
    color: pink !important;
}

.icons-svg,
.icons-svg-1 {
    margin-left: 30px;
}

/* Header Ends */

/* Banner Starts */

.banner-section {
    background: url(../news-assets/banner.png) no-repeat center/cover;
    min-height: 100vh;
    padding: 244px 0;
}

.banner-content {
    text-align: center;
}

.banner-content .sub-title {
    color: var(--tertiary-color);
    font-size: 30px;
}

.bnr-navigation {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: var(--tertiary-color);
}

/* Banner Ends */

/* Blog Section Starts */

.blog-section {
    padding: 100px 0;
}

.blog-section .title3 {
    color: var(--secondary-color);
    font-size: 45px;
    margin-bottom: 30px;
}

.blog-section .sub-title3 {
    font-family: "Manrope", sans-serif;
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.clock-sec {
    margin-bottom: 30px;
}

.clock-sec span {
    font-family: "manrope", sans-serif;
    font-size: 18px;
    margin-left: 10px;
}

.blog-desc {
    margin-bottom: 50px;
}

/* Blog Section Ends */

/* Map Section Starts */

.organizer-sec {
    background: var(--primary-color);
    padding: 45px 50px;
}

.organizer,
.venue {
    font-family: "Marcellus", serif;
    font-size: 30px;
    color: var(--tertiary-color);
    margin-bottom: 30px;
}

.org-name,
.venue-address {
    color: var(--tertiary-color);
    font-family: "manrope", sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
}

.name-email span,
.name-phone span,
.name-organizer span,
.venue-ph span,
.venue-earth span {
    color: var(--tertiary-color);
    font-family: "manrope", sans-serif;
    font-size: 18px;
    margin-left: 8px;
}

.venue-section {
    background-color: var(--secondary-color);
    padding: 45px 50px;
}

/* Map Section Ends */

/* Event Starts */

.event-section {
    padding: 100px 0;
}

.event-pic {
    position: relative;
}

.event-1,
.event-2 {
    margin-bottom: 30px;
}

.event-date {
    position: absolute;
    top: 0;
    right: 56px;
    padding: 10px 16px;
    background-color: var(--secondary-color);
    text-align: center;
}

.event-date div {
    color: var(--tertiary-color);
    font-family: "Marcellus", serif;
    font-size: 24px;
}

.event-time,
.event-location {
    display: flex;
    align-items: center;
}

.event-time {
    margin-bottom: 15px;
}

.event-location {
    margin-bottom: 30px;
}

.event-time span,
.event-location span {
    margin-left: 10px;
    font-family: "manrope", sans-serif;
    font-size: 18px;
}

.event-schd-hdr {
    font-family: "manrope", sans-serif;
    font-size: 36px;
    margin-bottom: 15px;
}

.event-schd-desc {
    font-family: "manrope", sans-serif;
    font-size: 18px;
    color: var(--fourth-color);
}

/* Event Ends */

/* Footer Starts */

footer {
    padding: 100px 0;
    background: var(--primary-color);
}

.ft-logo img {
    max-width: 250px;
}

.ft-icons img {
    margin-right: 15px;
}

.ft-para,
.location div,
.phone div,
.news-ltrs-desc {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
}

.q-links,
.o-services,
.news-ltrs {
    font-family: "Marcellus", serif;
    font-size: 24px;
}

.ft-links {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.newsletter-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--tertiary-color);
}

.newsletter-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.ft-line {
    border: 1px solid var(--tertiary-color);
}

.terms,
.policy {
    cursor: pointer;
}

/* Footer Ends */

/* Media Query Starts */

@media screen and (max-width:1200px) {
    /* Header Section */

    .navbar-collapse {
        display: none;
    }

    .menu {
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 5px 20px;
        color: var(--tertiary-color);
        position: relative;
        z-index: 999;
    }

    .menu::after,
    .menu::before {
        content: "";
        height: 2px;
        background: white;
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        transition: 0.5s linear;
    }

    .menu::after {
        top: -5px;
    }

    .menu::before {
        bottom: -5px;
    }

    .menu span {
        height: 2px;
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s linear;
    }

    .menu.show span {
        transform: translateX(-30px);
        opacity: 0;
    }

    .menu.show::after {
        transform: rotate(45deg) translateX(13px);
    }

    .menu.show::before {
        transform: rotate(-45deg) translateX(13px);
    }

    .navbar-nav {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .icons-svg {
        margin-left: 0;
    }

    .icons-svg-1 {
        margin-right: 30px;
    }

    .navbar-collapse {
        display: block;
        position: fixed;
        top: 0;
        min-height: 100vh;
        right: -100%;
        width: 60%;
        background: black;
        transition: 0.5s linear;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .overflow-hidden {
        overflow: hidden;
        height: 100vh;
    }
}

@media screen and (max-width:1024px) {

    /* Header Section */

    .top-bar-cnt {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    /* Map Section */

    .map-sec img {
        width: 100%;
        height: 390px;
    }

    /* Event Section */

    .event-pic img {
        width: 100%;
        /* height: 348px; */
    }

    .event-date {
        right: 12px;
    }


}

@media screen and (max-width:768px) {
    .navbar-collapse {
        top: 0;
    }

    .blog-section,
    .event-section,
    footer {
        padding: 50px 0;
    }

    /* Blog Section */

    .blog-big-pic {
        margin-top: 30px;
    }

    /* Map Section */

    .organizer-sec,
    .map-sec {
        margin-bottom: 24px;
    }

    .venue-section {
        margin: 0 auto;
    }

    /* Event Section */

    .event-pic {
        margin-bottom: 20px;
    }

    .event-1,
    .event-2 {
        margin-bottom: 40px;
    }

    .event-button .primary-btn {
        margin-top: 20px;
    }

    /* Footer */

    .ft-logo-sec,
    .quick-links {
        margin-bottom: 60px;
    }

    .ft-logo-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ft-para {
        text-align: center;
    }

    .quick-links,
    .our-services,
    .news-letters {
        text-align: center;
    }

    .our-services {
        margin-bottom: 55px;
    }

    .q-links,
    .o-services,
    .news-ltrs {
        margin-bottom: 25px !important;
    }

}

@media screen and (max-width:425px) {

    .top-navbar {
        display: none;
    }

    .navbar-collapse {
        top: 0;
    }

    .nav-logo img {
        max-width: 120px;
    }

    .navbar-collapse {
        width: 90%;
    }

    /* Banner Section */

    .title1 {
        font-size: 50px;
    }

    /* Footer */

    .bottom-part-footer {
        flex-direction: column;
        gap: 15px;
    }

    .bottom-part-footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .terms,
    .policy {
        margin-right: 0 !important;
    }

}

@media screen and (max-width:375px) {

    /* Header Section */
    .navbar-nav .nav-item {
        margin-bottom: 0;
    }

    /* Footer */

    .copy-part {
        text-align: center;
    }
}