@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marcellus&display=swap');

html,
body {
    overflow-x: hidden;
}

:root {
    --primary-color: #27252A;
    --secondary-color: #DE968D;
    --tertiary-color: #FFFFFF;
    --fourth-color: #949197;
}

.navbar-container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.sub-hdr {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.title1 {
    font-family: "Marcellus", serif;
    font-size: 60px;
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

.title2 {
    font-family: "Marcellus", serif;
    font-size: 48px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.title3 {
    font-family: "Marcellus", serif;
    font-size: 30px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.sub-title {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
}

.primary-btn {
    background: var(--secondary-color);
    padding: 16px 50px 16px 32px;
    color: var(--tertiary-color);
    position: relative;
}

.primary-btn .arrow {
    position: absolute;
    top: 13px;
    right: 18px;
    transition: transform 0.3s ease;
}

.primary-btn:hover .arrow {
    transform: rotate(45deg)
}

/* Header Starts */

.top-navbar {
    background: var(--primary-color);
    padding: 10px 0;
}

.top-bar-cnt {
    justify-content: flex-end;
    gap: 50px;
}

.t-b-no,
.t-b-email,
.t-b-address {
    display: flex;
    /* margin-left: 50px; */
}

.no,
.email,
.address {
    color: var(--tertiary-color);
    font-family: "Manrope", sans-serif;
    margin-left: 10px;
}

.bottom-navbar {
    background: rgba(255, 255, 255, 0.1);
}

.nav-item {
    margin-left: 40px;
}

.navbar-nav .nav-link.active,
.nav-link:hover {
    color: pink !important;
}

.icons-svg,
.icons-svg-1 {
    margin-left: 30px;
}

/* Header Ends */

/* Banner Starts */

.banner-section {
    background: url(../service-assets/service-banner.png) no-repeat center/cover;
    min-height: 100vh;
    padding: 244px 0;
}

.banner-content {
    text-align: center;
}

.banner-content .sub-title {
    color: var(--tertiary-color);
    font-size: 30px;
}

.bnr-navigation {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: var(--tertiary-color);
}

/* Banner Ends */

/* Service Starts */

.service-section {
    padding: 100px 0;
}

.service-section .title2 {
    margin-bottom: 30px;
}

.service-lists a {
    color: var(--primary-color);
    font-family: "Marcellus", serif;
    font-size: 20px;
}

.service-lists .active {
    color: var(--secondary-color);
}

.service-lists a:hover {
    color: var(--secondary-color);
}

.bento-grid-img {
    position: relative;
    overflow: hidden;
}

.bento-grid-img img {
    width: 100%;
    height: 100%;
    display: block;
}

.spe-social {
    margin-top: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.spe-social a {
    color: white;
    margin-right: 10px;
    font-size: 14px;
}

/* .bento-grid-img::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: all 0.4s ease;
} */

.bento-grid-img .spe-social {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    background: var(--primary-color);
    padding: 15px;
    display: flex;
    justify-content: center;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.bento-grid-img:hover .spe-social {
    opacity: 1;
    transform: translateY(0);
}

.bento-grid-img img {
    transition: transform 0.4s ease;
}

.bento-grid-img:hover img {
    transform: scale(1.1);
}

.spe-social a {
    margin: 0 10px;
}

/* Service Ends */

/* Pricing Starts */

.pricing-section {
    padding: 100px 0;
    background: rgba(222, 150, 141, 0.3);
}

.pricing-section .title2 {
    margin-bottom: 55px;
}

.pricing-card,
.pricing-card-7 {
    background-color: var(--tertiary-color);
}

.cnt-hdr {
    font-family: "Marcellus", serif;
    font-size: 30px;
    text-align: start;
}

.cnt-desc {
    font-family: "Manrope", sans-serif;
    text-align: start;
}

.from {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
}

.price {
    font-family: "Marcellus", serif;
    font-size: 40px;
    color: var(--secondary-color);
}

/* Pricing Ends */

/* Therapy Starts */

.therapy-section {
    padding: 100px 0;
}

.sub-title2 {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    color: var(--fourth-color);
}

.massage {
    font-family: "Marcellus", serif;
    font-size: 22px;
}

.massage-desc {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: var(--fourth-color);
}

.massage-number {
    font-family: "Marcellus", serif;
    font-size: 40px;
    color: var(--secondary-color);
}

.therapy-pic-1,
.therapy-pic-2,
.therapy-pic-3,
.therapy-pic-4 {
    position: relative;
    overflow: hidden;
}

.therapy-pic-1 img,
.therapy-pic-2 img,
.therapy-pic-3 img,
.therapy-pic-4 img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.4s ease;
}

.therapy-pic-1:hover img,
.therapy-pic-2:hover img,
.therapy-pic-3:hover img,
.therapy-pic-4:hover img {
    transform: scale(1.1);
}

/* Therapy Ends */

/* Couple Starts */

.couple-section {
    padding: 100px 0;
}

.couple-pic img {
    transition: transform 0.4s ease;
}

.couple-pic:hover img {
    transform: scale(1.1);
}

/* Couple Ends */

/* Bridal Starts */

.bridal-section {
    padding: 100px 0;
}

.bridal-pic img {
    width: 100%;
}

.bridal-pic img {
    transition: transform 0.4s ease;
}

.bridal-pic:hover img {
    transform: scale(1.1);
}

/* Bridal Ends */

/* Footer Starts */

footer {
    padding: 100px 0;
    background: var(--primary-color);
}

.ft-logo img {
    max-width: 250px;
}

.ft-icons img {
    margin-right: 15px;
}

.ft-para,
.location div,
.phone div,
.news-ltrs-desc {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
}

.q-links,
.o-services,
.news-ltrs {
    font-family: "Marcellus", serif;
    font-size: 24px;
}

.ft-links {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.newsletter-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--tertiary-color);
}

.newsletter-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.ft-line {
    border: 1px solid var(--tertiary-color);
}

.terms,
.policy {
    cursor: pointer;
}

/* Footer Ends */

/* Media Query Starts */

@media screen and (max-width:1200px) {
    /* Header Section */

    .navbar-collapse {
        display: none;
    }

    .menu {
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 5px 20px;
        color: var(--tertiary-color);
        position: relative;
        z-index: 999;
    }

    .menu::after,
    .menu::before {
        content: "";
        height: 2px;
        background: white;
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        transition: 0.5s linear;
    }

    .menu::after {
        top: -5px;
    }

    .menu::before {
        bottom: -5px;
    }

    .menu span {
        height: 2px;
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s linear;
    }

    .menu.show span {
        transform: translateX(-30px);
        opacity: 0;
    }

    .menu.show::after {
        transform: rotate(45deg) translateX(13px);
    }

    .menu.show::before {
        transform: rotate(-45deg) translateX(13px);
    }

    .navbar-nav {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .icons-svg {
        margin-left: 0;
    }

    .icons-svg-1 {
        margin-right: 30px;
    }

    .navbar-collapse {
        display: block;
        position: fixed;
        top: 0;
        min-height: 100vh;
        right: -100%;
        width: 60%;
        background: black;
        transition: 0.5s linear;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .overflow-hidden {
        overflow: hidden;
        height: 100vh;
    }

}

@media screen and (max-width:1024px) {

    /* Header Section */

    .top-bar-cnt {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    /* Therapy Section */

    .massage-desc {
        margin-bottom: 30px !important;
        font-size: 16px;
    }

    .massage-number {
        font-size: 30px;
    }

    .therapy-pic-1 img,
    .therapy-pic-2 img,
    .therapy-pic-3 img,
    .therapy-pic-4 img {
        width: 100%;
        height: 271px;
    }

}

@media screen and (max-width:768px) {

    .service-section,
    .pricing-section,
    .therapy-section,
    .couple-section,
    .bridal-section,
    footer {
        padding: 50px 0;
    }

    /* Header Section */

    .navbar-collapse {
        top: 0;
    }

    .hours-section {
        top: 80px;
    }


    /* Service Section */

    .service-lists {
        flex-wrap: wrap;
    }

    .bento-grid-img {
        margin-bottom: 25px;
    }

    /* Pricing Section */

    .pricing-card-7 {
        margin-bottom: 25px;
    }

    /* Therapy Section */

    .therapy-section .row>div:nth-child(1) {
        order: 2;
    }

    .therapy-section .row>div:nth-child(5) {
        order: 1;
    }

    .therapy-section .row>div:nth-child(2) {
        order: 3;
    }

    .therapy-section .row>div:nth-child(6) {
        order: 4;
    }

    .therapy-section .row>div:nth-child(3) {
        order: 6;
    }

    .therapy-section .row>div:nth-child(7) {
        order: 5;
    }

    .therapy-section .row>div:nth-child(4) {
        order: 7;
    }

    .therapy-section .row>div:nth-child(8) {
        order: 8;
    }

    .therapy-pic-3 {
        margin-bottom: 40px;
    }

    /* Couple Section */

    .couple-content {
        margin-bottom: 30px;
    }

    .couple-pic img {
        max-width: 700px;
    }

    .couple-pic {
        display: flex;
        justify-content: center;
    }

    /* Bridal Section */

    .bridal-pic {
        margin-bottom: 30px;
    }

    .bridal-pic img {
        max-width: 700px;
    }

    .bridal-pic {
        display: flex;
        justify-content: center;
    }



    /* Footer */

    .ft-logo-sec,
    .quick-links {
        margin-bottom: 60px;
    }

    .ft-logo-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ft-para {
        text-align: center;
    }

    .quick-links,
    .our-services,
    .news-letters {
        text-align: center;
    }

    .our-services {
        margin-bottom: 55px;
    }

    .q-links,
    .o-services,
    .news-ltrs {
        margin-bottom: 25px !important;
    }

}


@media screen and (max-width:425px) {

    /* Header Section */

    .top-navbar {
        display: none;
    }

    .navbar-collapse {
        top: 0;
    }

    .nav-logo img {
        max-width: 120px;
    }

    .navbar-collapse {
        width: 90%;
    }

    /* Banner Section */

    .title1 {
        font-size: 50px;
    }

    /* Service Section */

    .service-lists {
        gap: 15px;
    }

    /* Pricing Section */

    .pricing-card,
    .pricing-card-7 {
        flex-direction: column;
    }

    .card-cnt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing {
        margin: 0 auto;
    }

    .cnt-hdr {
        font-size: 22px;
    }

    .from {
        font-size: 20px;
    }

    .price {
        font-size: 30px;
    }


    /* Couple Section */

    .couple-pic img {
        max-width: 290px;
    }

    /* Bridal Section */

    .bridal-pic img {
        max-width: 290px;
    }

    /* Therapy Section */

    .relaxing,
    .deep-tissue {
        margin-bottom: 0 !important;
    }

    /* Footer */

    .bottom-part-footer {
        flex-direction: column;
        gap: 15px;
    }

    .bottom-part-footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .terms,
    .policy {
        margin-right: 0 !important;
    }

}

@media screen and (max-width:375px) {

    /* Header Section */
    .navbar-nav .nav-item {
        margin-bottom: 0;
    }

    /* Footer */

    .copy-part {
        text-align: center;
    }

}