@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marcellus&display=swap');

html,
body {
    overflow-x: hidden;
}

:root {
    --primary-color: #27252A;
    --secondary-color: #DE968D;
    --tertiary-color: #FFFFFF;
    --fourth-color: #949197;
}

.navbar-container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.sub-hdr {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.title1 {
    font-family: "Marcellus", serif;
    font-size: 70px;
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

.title2 {
    font-family: "Marcellus", serif;
    font-size: 48px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.title3 {
    font-family: "Marcellus", serif;
    font-size: 30px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.sub-title {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
}

.primary-btn {
    background: var(--secondary-color);
    padding: 16px 50px 16px 32px;
    color: var(--tertiary-color);
    position: relative;
}

.primary-btn .arrow {
    position: absolute;
    top: 13px;
    right: 18px;
    transition: transform 0.3s ease;
}

.primary-btn:hover .arrow {
    transform: rotate(45deg)
}

/* Header Starts */

.top-navbar {
    background: var(--primary-color);
    padding: 10px 0;
}

.top-bar-cnt {
    justify-content: flex-end;
    gap: 50px;
}

.t-b-no,
.t-b-email,
.t-b-address {
    display: flex;
    /* margin-left: 50px; */
}

.no,
.email,
.address {
    color: var(--tertiary-color);
    font-family: "Manrope", sans-serif;
    margin-left: 10px;
}

.bottom-navbar {
    background: rgba(255, 255, 255, 0.1);
}

.nav-item {
    margin-left: 40px;
}

.navbar-nav .nav-link.active,
.nav-link:hover {
    color: pink !important;
}

.icons-svg,
.icons-svg-1 {
    margin-left: 30px;
}

/* Header Ends */

/* Banner Starts */

.banner-section {
    background: url(../assets/banner.png) no-repeat center/cover;
    padding: 244px 0;
    min-height: 100vh;
}

.banner-content {
    max-width: 928px;
}

.banner-content .sub-title {
    margin-bottom: 50px;
    max-width: 810px;
}

/* Banner Ends */

/* About Starts */

.about-section {
    padding: 100px 0;
}

.about-us-images {
    position: relative;
    min-height: 630px;
    width: 100%;
}

.about-us-images img {
    max-width: 100%;
}

.About-img-1 {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.About-img-1 .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.About-img-2 {
    position: absolute;
    top: 180px;
    left: 290px;
    z-index: 1;
}

.book-now {
    position: absolute;
    z-index: 3;
    top: 500px;
    left: 87px;
}

.outer-box {
    padding: 10px;
    border-radius: 50px 0 0 50px;
}

.pink-extension {
    background-color: var(--secondary-color);
    width: 35px;
    height: 80px;
}

.book-now-2,
.book-now-no {
    font-family: "Manrope", sans-serif;
    color: var(--tertiary-color);
}

.about-us .sub-hdr {
    margin-bottom: 0;
}

.about-us-content .title2 {
    max-width: 583px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.about-us-content .sub-title {
    font-size: 18px;
    max-width: 583px;
    color: var(--fourth-color);
    margin-bottom: 30px;
}

.about-us-line {
    border: 1px solid var(--fourth-color);
    max-width: 583px;
}

.about-us-btm-cnt {
    max-width: 583px;
    margin-bottom: 30px;
}

.clients-under {
    font-family: "Manrope", sans-serif;
    color: var(--primary-color);
    font-size: 20px;
}

/* About Ends */

/* Our Treatment Starts */

.our-treatment-section {
    padding: 100px 0 180px;
    /* background-color: #F2D5D1; */
    background: url(../assets/o-t-bg-img.png);
    position: relative;
}

.o-t-s-img {
    position: absolute;
    top: -200px;
    right: 60px;
}

.o-t-hdr .sub-hdr {
    margin-bottom: 0;
}

.our-treatment-content .title2 {
    text-align: center;
    margin-bottom: 60px;
}

.o-t-box-black .o-t-text {
    color: white;
}

.o-t-text {
    font-family: "Marcellus", serif;
    font-size: 18px;
}

.o-t-box-1 {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.o-t-1 {
    margin-bottom: 20px;
}

/* Hover Effect */

.o-t-box {
    position: relative;
}

.o-t-box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../assets/TREATMENT-2.png) no-repeat center/cover;
    opacity: 0;
    transition: 0.4s ease;
    z-index: 1;
}

.o-t-box:hover::before {
    opacity: 1;
}

.o-t-1,
.o-t-text {
    position: relative;
    z-index: 2;
}

.o-t-box:hover .o-t-text {
    color: var(--tertiary-color);
}

/* Our Treatment Ends */

/* Hour Starts */

.hours-section {
    margin-top: -110px;
    position: relative;
    z-index: 5;
}

.hours-black-box {
    padding: 30px 55px 30px 20px;
    background: var(--primary-color);
}

.open-hr {
    font-family: "Marcellus", serif;
    font-size: 30px;
}

.day,
.time {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
}

.time {
    color: var(--secondary-color);
}

.hours-line {
    width: 1px;
    height: 80px;
    background: var(--tertiary-color);
}

/* Hour Ends */

/* What Else Starts */

.what-else-section {
    padding: 100px 0;
}

.what-else-hdr {
    margin-bottom: 20px;
}

.w-e-img {
    position: relative;
    z-index: 1;
}

.what-else-content .sub-hdr {
    margin-bottom: 0;
}

.w-e-img .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* What Else Ends */

/* Marquee Starts */

.marquee-section {
    padding: 50px 0;
    overflow: hidden;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marqueeScroll 25s linear infinite;
}

.marquee span {
    display: inline-flex;
    align-items: center;
    gap: 30px;
    font-family: "Marcellus", serif;
    font-size: 85px;
    color: var(--fourth-color);
}

@keyframes marqueeScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Marquee Ends */

/* Special Treatment Starts */

.special-treatment-section {
    padding: 100px 0;
}

.special-treatment-content .title2 {
    text-align: center;
}

.s-t-hdr {
    margin-bottom: 20px;
}

.s-t-hdr .sub-hdr {
    margin-bottom: 0;
}

.special-treatment-content .title2 {
    margin-bottom: 60px;
}

.spe1,
.spe2 {
    margin-bottom: 50px;
}

.s-t-circle {
    position: relative;
    margin-right: 10px;
}

.s-t-1,
.s-t-2,
.s-t-3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spe-hdr {
    font-family: "Marcellus", serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.spe-p {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    max-width: 297px;
}

.s-t-middle-pic {
    position: relative;
}

.s-t-middle-img {
    position: absolute;
    left: 125px;
    top: 95px;
    /* transform: translate(-50%, -50%); */
}

/* Special Treatment Ends */

/* Easy Step Starts */

.easy-step-section {
    padding: 100px 0;
}

.pink-border {
    max-width: 1740px;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    margin: 0 auto;
}

.pink-box {
    background: url(../assets/easy-step/pink-box-leaf.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
    padding: 80px 0 0 0;
    position: relative;
}

.e-s-hdr {
    text-align: center;
}

.e-s-hdr .title2 {
    margin-bottom: 110px;
}

.e-s-hd {
    margin-bottom: 20px;
}

.e-s-hd .sub-hdr {
    margin-bottom: 0;
}

.pink-left-corner {
    position: absolute;
    left: 0;
    top: 0;
}

.e-s-m-p-left,
.e-s-m-p-middle,
.e-s-m-p-right {
    text-align: center;
}

.m-p-hdr {
    font-family: "Marcellus", serif;
    font-size: 24px;
    color: var(--primary-color);
}

.m-p-left,
.m-p-middle,
.m-p-right {
    position: relative;
}

.appnt-icon,
.mentoring-icon,
.thumbsup-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.m-p-desc {
    max-width: 350px;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    color: var(--fourth-color);
    margin-bottom: 120px;
}

.easy-step-bottom-portion {
    padding: 30px 40px;
    background: var(--secondary-color);
}

.time-bottom {
    font-family: "Manrope", sans-serif;
    font-size: 45px;
    color: var(--tertiary-color);
}

.time-desc {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: var(--tertiary-color);
}

.line2 {
    border: 1px solid var(--tertiary-color);
    height: 148px;
}

/* Easy Step Ends */

/* Our Service Starts */

.our-service-section {
    padding: 100px 0;
    background: url(../assets/our-service-bg.png) no-repeat center/cover;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 60%;
}

.swiper-slide:nth-child(2n) {
    width: 40%;
}

.swiper-slide:nth-child(3n) {
    width: 20%;
}

/* Our Service Ends */

/* Membership Starts */

.membership-section {
    padding: 100px 0;
    background: rgba(222, 150, 141, 0.3);
}

.membership-content .title2 {
    margin-bottom: 70px;
}

.mem-card {
    padding: 40px;
    gap: 20px;
}

.mem-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mem-card-hdr {
    padding: 8px;
    background: rgba(222, 150, 141, 0.1);
    color: var(--secondary-color);
    font-family: "Marcellus", serif;
    font-size: 20px;
    margin-bottom: 24px;
}

.mem-card-lists {
    margin-bottom: 24px;
}

.mem-card-btn .primary-btn {
    padding: 12px 24px;
}

/* Membership Ends */

/* Gallery Starts */

.gallery-section {
    padding: 50px 0;
}

.galleryswiper {
    width: 100%;
    margin: 20px auto;
    padding-bottom: 50px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
}

.gallery-pagination {
    position: relative !important;
    bottom: 0 !important;
    margin-top: 20px;
    text-align: center;
}

/* Gallery Ends */

/* Testimonial Starts */

.testimonial-section {
    padding: 100px 0;
    background: var(--primary-color);
}

.test-card {
    background: var(--tertiary-color);
    padding: 60px 40px;
    border-radius: 20px;
}

.test-desc {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
}

.testimonial-card {
    border: 1px solid var(--secondary-color);
    padding: 20px;
}

.user-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.user-image img {
    width: 100%;
    height: 100%;
}

.test-star img {
    height: 20px;
    width: 20px;
}

.test-number-circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid var(--secondary-color);
}

.value {
    color: var(--secondary-color);
}

.custom-nav {
    position: static;
    width: 40px;
    height: 40px;
    border: 1px solid var(--tertiary-color);
    border-radius: 50%;
    color: var(--tertiary-color);
}

.custom-nav::after {
    font-size: 14px;
}

.custom-nav:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--tertiary-color) !important;
}

/* Testimonial Ends */

/* Specialist Starts */

.specialist-section {
    padding: 100px 0;
}

.spe-card-1,
.spe-card-2,
.spe-card-3,
.spe-card-4,
.spe-card-5 {
    width: 100%;
    height: 425px;
}

.spe-card-1 {
    background: url(../assets/specialists-1.png) no-repeat center/cover;
    position: relative;
}

.spe-card-2 {
    background: url(../assets/specialists-2.png) no-repeat center/cover;
    position: relative;
}

.spe-card-3 {
    background: url(../assets/specialists-3.png) no-repeat center/cover;
    position: relative;
}

.spe-card-4 {
    background: url(../assets/specialists-4.png) no-repeat center/cover;
    position: relative;
}

.spe-card-5 {
    background: url(../assets/specialists-5.png) no-repeat center/cover;
    position: relative;
}

.spe-card-cnt {
    background: rgba(222, 150, 141, 0.7);
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.4s ease;
}

.spe-name {
    font-family: "Marcellus", serif;
    font-size: 20px;
    color: var(--tertiary-color);
}

.spe-occupation {
    font-family: "Marcellus", serif;
    font-size: 16px;
    color: var(--tertiary-color);
}


.spe-social {
    margin-top: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.spe-social a {
    color: white;
    margin-right: 10px;
    font-size: 14px;
}

.spe-card-1:hover .spe-card-cnt,
.spe-card-2:hover .spe-card-cnt,
.spe-card-3:hover .spe-card-cnt,
.spe-card-4:hover .spe-card-cnt,
.spe-card-5:hover .spe-card-cnt {
    background: rgba(0, 0, 0, 0.8);
    height: 140px;
}

.spe-card-1:hover .spe-social,
.spe-card-2:hover .spe-social,
.spe-card-3:hover .spe-social,
.spe-card-4:hover .spe-social,
.spe-card-5:hover .spe-social {
    opacity: 1;
    transform: translateY(0);
}

/* Specialist Ends */

/* Faq Starts */

.faq-section {
    padding: 100px 0 200px;
    background: #FCF6F6;
}

.faq-pictures-section {
    position: relative;
}

.faq-img-1 img {
    width: 100%;
}

.faq-img-1 {
    position: relative;
}

.faq-img-2 {
    position: absolute;
    bottom: -200px;
    right: 0;
}

.faq-play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Faq Ends */

/* Blog Starts */

.blog-section {
    padding: 100px 0 0;
}

.blogSwiper {
    width: 100%;
    margin: 40px auto;
}

.swiper-slide {
    display: block;
}

.blog-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.blog-img {
    position: relative;
}

.blog-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.date-box {
    position: absolute;
    bottom: -25px;
    left: 20px;
    background: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 10px 12px;
    text-align: center;
    border-radius: 4px;
}

.d-b-date {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}

.d-b-month {
    font-size: 12px;
}

.blog-info {
    padding: 40px 20px 20px;
}

.meta {
    display: flex;
    gap: 15px;
    font-size: 12px;
    color: var(--fourth-color);
    margin-bottom: 10px;
}

.blog-box-hdr {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.blog-info a {
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--primary-color);
}

.blog-pagination {
    position: relative;
    bottom: 0;
    margin-top: 20px;
    text-align: center;
}

/* Blog Ends */

/* Branding Starts */

.branding-section {
    padding: 20px 0 100px 0;
}

/* Branding Ends */

/* Contact Starts */

.contact-section {
    padding: 100px 0;
    background-color: var(--secondary-color);
}

.contact-btn-1 .primary-btn {
    background-color: var(--primary-color);
}

.contact-btn-2 .secondary-btn {
    padding: 16px 50px 16px 32px;
    background: transparent;
    border: 1px solid var(--tertiary-color) !important;
    color: var(--tertiary-color);
    position: relative;
}

.secondary-btn .arrow {
    position: absolute;
    top: 13px;
    right: 18px;
    transition: transform 0.3s ease;
}

.secondary-btn:hover .arrow {
    transform: rotate(45deg)
}

.contact-img-1 {
    position: relative;
    z-index: 3;
    width: 260px;
}

.contact-img-left {
    position: absolute;
    left: -20px;
    top: 0;
    z-index: 2;
}

.contact-img-right {
    position: absolute;
    left: 50px;
    top: 0;
    z-index: 1;
}

.contact-img-left,
.contact-img-right {
    transition: transform 0.5s ease;
}

.contact-images:hover .contact-img-left {
    transform: translateX(-170px) translateY(90px);
}

.contact-images:hover .contact-img-right {
    transform: translateX(170px) translateY(-90px);
}

/* Contact Ends */

/* Footer Starts */

footer {
    padding: 100px 0;
    background: var(--primary-color);
}

.ft-logo img {
    max-width: 250px;
}

.ft-icons img {
    margin-right: 15px;
}

.ft-para,
.location div,
.phone div,
.news-ltrs-desc {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
}

.q-links,
.o-services,
.news-ltrs {
    font-family: "Marcellus", serif;
    font-size: 24px;
}

.ft-links {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.newsletter-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--tertiary-color);
}

.newsletter-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.ft-line {
    border: 1px solid var(--tertiary-color);
}

.terms,
.policy {
    cursor: pointer;
}



/* Footer Ends */

/* Media Query Starts */

@media screen and (max-width:1200px) {
    /* Header Section */

    .navbar-collapse {
        display: none;
    }

    .menu {
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 5px 20px;
        color: var(--tertiary-color);
        position: relative;
        z-index: 999;
    }

    .menu::after,
    .menu::before {
        content: "";
        height: 2px;
        background: white;
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        transition: 0.5s linear;
    }

    .menu::after {
        top: -5px;
    }

    .menu::before {
        bottom: -5px;
    }

    .menu span {
        height: 2px;
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s linear;
    }

    .menu.show span {
        transform: translateX(-30px);
        opacity: 0;
    }

    .menu.show::after {
        transform: rotate(45deg) translateX(13px);
    }

    .menu.show::before {
        transform: rotate(-45deg) translateX(13px);
    }

    .navbar-nav {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .icons-svg {
        margin-left: 0;
    }

    .icons-svg-1 {
        margin-right: 30px;
    }

    .navbar-collapse {
        display: block;
        position: fixed;
        top: 0;
        min-height: 100vh;
        right: -100%;
        width: 60%;
        background: black;
        transition: 0.5s linear;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .overflow-hidden {
        overflow: hidden;
        height: 100vh;
    }


    /* About Section */

    .about-us {
        justify-content: center;
        margin-bottom: 30px;
    }

    .about-us-content .title2 {
        text-align: center;
        margin: 0 auto 30px;
    }

    .about-us-content .sub-title {
        text-align: center;
        margin: 0 auto 30px;
    }

    .about-us-line {
        margin: 0 auto;
    }

    .about-us-btm-cnt {
        margin: 0 auto;
    }

    .about-us-btn {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .about-us-images {
        max-width: 600px;
        margin: 0 auto;
    }

    /* Membership Section */

    .mem-card {
        flex-direction: column;
    }

    .mem-img {
        width: 100%;
    }

    .mem-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

}

@media screen and (max-width:1024px) {

    /* Header Section */

    .top-bar-cnt {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }


    /* Our Treatment Section */

    .o-t-s-img {
        max-width: 200px;
        top: -100px;
    }

    .o-t-box,
    .o-t-box-black {
        margin: 10px;
    }

    /* What Else Section */

    .what-else {
        flex-wrap: wrap;
    }

    .what-else-hdr {
        justify-content: center !important;
    }

    .what-else-left .title2 {
        text-align: center;
    }

    .what-else-right {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /* Special Treatment Section */

    .s-t-middle-pic img {
        max-width: 300px !important;
        height: 390px;
    }

    .s-t-middle-img {
        height: 340px !important;
        top: 38px;
        left: 55px;
    }

    .s-t-bottom-part {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .s-t-middle {
        order: 1;
    }

    .s-t-left {
        order: 2;
    }

    .s-t-right {
        order: 3;
    }

    /* Easy Steps */

    .pink-left-corner {
        max-width: 300px;
    }

    .easy-step-section .title2 {
        margin-bottom: 30px;
    }

    .easy-step-middle-portion {
        gap: 20px;
    }

    .m-p-desc {
        margin-bottom: 30px;
    }

    .easy-step-bottom-portion {
        gap: 25px;
    }

    /* Faq Section */

    .faq-img-2 img {
        max-width: 350px;
    }

}

@media screen and (max-width:992px) {

    /* Hours Section */

    .hours-black-box>div {
        padding: 10px 20px;
    }

    .hours-line {
        display: none;
    }

    /* Easy Steps Section */

    .line2 {
        display: none;
    }

}

@media screen and (max-width:768px) {
    .navbar-collapse {
        top: 0;
    }

    .hours-section {
        top: 80px;
    }

    .about-section,
    .our-treatment-section,
    .special-treatment-section,
    .easy-step-section,
    .our-service-section,
    .membership-section,
    .testimonial-section,
    .specialist-section,
    .faq-section,
    .blog-section,
    .branding-section,
    .contact-section,
    footer {
        padding: 50px 0;
    }

    .what-else-section {
        padding: 100px 0 50px;
    }

    .pink-left-corner {
        max-width: 200px;
    }

    /* Membership Section */

    .membership-cards .row {
        justify-content: center;
    }

    .membership-cards .col-md-6 {
        margin-bottom: 24px;
    }

    /* Testimonial Section */

    .testimonial-section .row {
        gap: 30px;
    }

    /* Specialist Section */

    .specialist-text {
        order: -1;
    }

    .spe-card-3 {
        margin-bottom: 24px;
    }

    /* Faq Section */

    .faq-section .row {
        gap: 24px;
    }

    .faq-img-2 {
        display: none;
    }

    /* Branding Section */

    .branding-content {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .branding-content div {
        flex: 0 0 30%;
        text-align: center;
    }

    /* Contact Section */

    .contact-section .row {
        gap: 40px;
    }

    .contact-content {
        text-align: center;
    }

    .contact-content .s-t-hdr {
        justify-content: center;
    }

    .contact-btns {
        justify-content: center;
    }

    .contact-images {
        display: flex;
        justify-content: center;
    }

    .contact-img-left {
        left: 220px;
    }

    .contact-img-right {
        left: 280px;
    }

    /* Footer */

    .ft-logo-sec,
    .quick-links {
        margin-bottom: 60px;
    }

    .ft-logo-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ft-para {
        text-align: center;
    }

    .quick-links,
    .our-services,
    .news-letters {
        text-align: center;
    }

    .our-services {
        margin-bottom: 55px;
    }

    .q-links,
    .o-services,
    .news-ltrs {
        margin-bottom: 25px !important;
    }

}

@media screen and (max-width:425px) {

    .top-navbar {
        display: none;
    }

    .navbar-collapse {
        top: 0;
    }

    .nav-logo img {
        max-width: 120px;
    }

    .navbar-collapse {
        width: 90%;
    }

    /* Banner Section */

    .title1 {
        font-size: 50px;
        text-align: center;
    }

    .banner-content .sub-hdr,
    .banner-content .sub-title {
        font-size: 16px;
        text-align: center;
    }

    .banner-btn {
        text-align: center;
    }

    /* About Section */

    .title2 {
        font-size: 36px;
    }

    .sub-hdr,
    .sub-title {
        font-size: 16px;
    }

    .about-us-btm-cnt {
        justify-content: center !important;
    }

    .About-img-1 {
        display: flex;
        justify-content: center;
    }

    .About-img-2 {
        display: none;
    }

    /* What Else Section */

    .w-e-img img {
        max-width: 280px;
    }

    .pink-left-corner {
        max-width: 100px;
    }

    /* Specialist Section */

    .spe-card-4 {
        margin-bottom: 24px;
    }

    /* Faq Section */

    .faq-img-2 img {
        display: none;
    }

    /* Branding Section */

    .branding-content {
        justify-content: center !important;
    }

    .branding-content div {
        flex: 0 0 30%;
        text-align: center;
    }

    .branding-content img {
        display: block;
        margin: 0 auto;
    }

    /* Contact Section */

    .contact-btns {
        flex-direction: column;
    }

    .contact-btn-2 {
        margin-left: 0 !important;
        margin-top: 20px;
    }

    .contact-img-1 {
        display: flex;
        justify-content: center;
    }

    .contact-img-1 img,
    .contact-img-left img,
    .contact-img-right img {
        max-width: 260px;
    }

    .contact-img-left {
        left: 60px;
    }

    .contact-img-right {
        left: 100px;
    }

    /* Footer */

    .bottom-part-footer {
        flex-direction: column;
        gap: 15px;
    }

    .bottom-part-footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .terms,
    .policy {
        margin-right: 0 !important;
    }

}

@media screen and (max-width:375px) {

    /* Header Section */
    .navbar-nav .nav-item {
        margin-bottom: 0;
    }

    /* Contact Section */

    .contact-img-left {
        left: 40px;
    }

    .contact-img-right {
        left: 75px;
    }

    /* Footer */

    .copy-part {
        text-align: center;
    }
}

@media screen and (max-width:320px) {

    /* About Section */

    .book-now {
        left: 50px;
    }

    /* Contact Section */

    .contact-img-left {
        left: 15px;
    }

    .contact-img-right {
        left: 45px;
    }
}